{% extends 'index.html' %}
{%block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> NAMA </th>
                            <th> ALAMAT </th>
                            <th> TELP </th>
                            <th> ACTION </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for penerbit in cetak%}
                        <tr>
                            <td>{{ penerbit.nama }}</td>
                            <td>{{ penerbit.alamat }}</td>
                            <td>{{ penerbit.telp }}</td>
                            <td>
                                <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
                                <a href="#" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}